# 01. 시장정보 읽어오기

In [1]:
from pykrx import stock
from pykrx.website.krx.market import ticker
from pykrx.website.krx.market import core
import pandas as pd

#종목 코드 읽어오기
stock_code = stock.get_market_ticker_list(date="20220401", market="ALL")
for i in range(10):
    n = ticker.get_stock_name(stock_code[i])
    print(n)
# stock_code = stock.get_market_ticker_list(date="20220401", market="KOSDAQ")
# stock_code = stock.get_market_ticker_list(date="20220401", market="KOSPI")
# stock_code = stock.get_market_ticker_list(date="20220401", market="KONEX")

3S
AJ네트웍스
AK홀딩스
APS홀딩스
AP시스템
AP위성
BGF
BGF리테일
BNGT
BNK금융지주

## 종목명으로 종목 코드 읽어오기

In [49]:
st = core.상장종목검색()
df_stock2 = st.fetch('ALL', '삼성전자') #코스피 : STK, 코스닥 : KSQ, 전체 : ALL
stock_code = df_stock2.iloc[0]['short_code']
stock_code
df_stock2

,full_code,short_code,codeName,marketCode,marketName,marketEngName,ord1,ord2
0,KR7005930003,005930,삼성전자,STK,유가증권,KOSPI,1,16
1,KR7005931001,005935,삼성전자우,STK,유가증권,KOSPI,1,16

## 종목 정보

In [51]:
#특정 기간 동안의 주가정보
stock_price = stock.get_market_ohlcv("20220101", "20220401", stock_code)
stock_name = ticker.get_stock_name("005930")
stock_price['종목명'] = stock_name
stock_price

               시가     고가     저가     종가       거래량   종목명
날짜
2022-01-03  79400  79800  78200  78600  13502112  삼성전자
2022-01-04  78800  79200  78300  78700  12427416  삼성전자
2022-01-05  78800  79000  76400  77400  25470640  삼성전자
2022-01-06  76700  77600  76600  76900  12931954  삼성전자
2022-01-07  78100  78400  77400  78300  15163757  삼성전자
2022-01-10  78100  78100  77100  78000   9947422  삼성전자
2022-01-11  78400  79000  78000  78900  13221123  삼성전자
2022-01-12  79500  79600  78600  78900  11000502  삼성전자
2022-01-13  79300  79300  77900  77900  13889401  삼성전자
2022-01-14  77700  78100  77100  77300  10096725  삼성전자
2022-01-17  77600  77800  76900  77500   8785122  삼성전자
2022-01-18  77600  77800  76600  77000   9592788  삼성전자
2022-01-19  76500  76900  76100  76300  10598290  삼성전자
2022-01-20  76200  76700  75900  76500   9708168  삼성전자
2022-01-21  75800  75800  74700  75600  15774888  삼성전자
2022-01-24  75400  75800  74700  75100  13691134  삼성전자
2022-01-25  74800  75000  73200  74000  17766704  삼성전자
2022-01-26  73900  74400  73100  73300  12976730  삼성전자
2022-01-27  73800  74000  71300  71300  22274777  삼성전자
2022-01-28  71300  73700  71200  73300  21367447  삼성전자
2022-02-03  74900  74900  73300  73300  17744721  삼성전자
2022-02-04  74300  74600  73400  74000  12730034  삼성전자
2022-02-07  73500  73600  72400  73000  14240838  삼성전자
2022-02-08  73800  74200  73000  73500  11736666  삼성전자
2022-02-09  74300  74700  74000  74700   9699122  삼성전자
2022-02-10  75600  75800  74700  75400  17746033  삼성전자
2022-02-11  75000  75500  74600  74900  12205407  삼성전자
2022-02-14  74400  74500  73100  73700  13993255  삼성전자
2022-02-15  74100  74200  73100  73700   9320365  삼성전자
2022-02-16  74600  74900  74200  74800  10767386  삼성전자
2022-02-17  75000  75600  74500  75000  13605382  삼성전자
2022-02-18  74600  74800  73700  74300  10122226  삼성전자
2022-02-21  73200  74300  72600  74200  10489717  삼성전자
2022-02-22  73000  73400  72800  73400  11692469  삼성전자
2022-02-23  73800  73800  72800  73000  10397964  삼성전자
2022-02-24  72300  72300  71300  71500  15759283  삼성전자
2022-02-25  72100  72600  71900  71900  13168484  삼성전자
2022-02-28  71100  72100  71000  72100  17781783  삼성전자
2022-03-02  72300  72400  71500  71700  12481430  삼성전자
2022-03-03  72300  73100  72200  72900  13232638  삼성전자
2022-03-04  72700  72700  71200  71500  13409634  삼성전자
2022-03-07  70000  70600  69900  70100  18617138  삼성전자
2022-03-08  68800  70000  68700  69500  15828269  삼성전자
2022-03-10  70800  71200  70500  71200  21159248  삼성전자
2022-03-11  70500  70700  69700  70000  15787655  삼성전자
2022-03-14  70000  70200  69600  70200   9040993  삼성전자
2022-03-15  69800  70100  69500  69500  10258562  삼성전자
2022-03-16  70200  70500  69700  70400  10175750  삼성전자
2022-03-17  71200  71800  70900  71200  17646315  삼성전자
2022-03-18  70600  70900  70200  70700  14410038  삼성전자
2022-03-21  70900  71000  69900  69900  11169002  삼성전자
2022-03-22  69900  70500  69900  70300   9402666  삼성전자
2022-03-23  70600  71200  70300  70500  12398025  삼성전자
2022-03-24  69600  70300  69600  69800  37943357  삼성전자
2022-03-25  70100  70200  69600  69800  12986010  삼성전자
2022-03-28  69500  69900  69200  69700  12619289  삼성전자
2022-03-29  70000  70300  69800  70200  13686208  삼성전자
2022-03-30  70300  70500  69800  69900  12670187  삼성전자
2022-03-31  69900  70200  69600  69600  12510366  삼성전자
2022-04-01  69500  69500  69000  69100  15852053  삼성전자

In [47]:
df_stock1 = stock.get_market_fundamental("20220101", "20220401", stock_code, name_display=True)
df_stock1[:6]

삼성전자          BPS    PER   PBR   EPS   DIV   DPS
날짜
2022-01-03  39406  20.46  1.99  3841  3.81  2994
2022-01-04  39406  20.49  2.00  3841  3.80  2994
2022-01-05  39406  20.15  1.96  3841  3.87  2994
2022-01-06  39406  20.02  1.95  3841  3.89  2994
2022-01-07  39406  20.39  1.99  3841  3.82  2994
2022-01-10  39406  20.31  1.98  3841  3.84  2994

In [29]:
import matplotlib.pyplot as plt

In [55]:
df_combined = pd.concat([stock_price, df_stock1], axis=1)
df_combined

,시가,고가,저가,종가,거래량,종목명,BPS,PER,PBR,EPS,DIV,DPS
날짜,,,,,,,,,,,,
2022-01-03,79400,79800,78200,78600,13502112,삼성전자,39406,20.46,1.99,3841,3.81,2994
2022-01-04,78800,79200,78300,78700,12427416,삼성전자,39406,20.49,2.00,3841,3.80,2994
2022-01-05,78800,79000,76400,77400,25470640,삼성전자,39406,20.15,1.96,3841,3.87,2994
2022-01-06,76700,77600,76600,76900,12931954,삼성전자,39406,20.02,1.95,3841,3.89,2994
2022-01-07,78100,78400,77400,78300,15163757,삼성전자,39406,20.39,1.99,3841,3.82,2994
2022-01-10,78100,78100,77100,78000,9947422,삼성전자,39406,20.31,1.98,3841,3.84,2994
2022-01-11,78400,79000,78000,78900,13221123,삼성전자,39406,20.54,2.00,3841,3.79,2994
2022-01-12,79500,79600,78600,78900,11000502,삼성전자,39406,20.54,2.00,3841,3.79,2994
2022-01-13,79300,79300,77900,77900,13889401,삼성전자,39406,20.28,1.98,3841,3.84,2994
2022-01-14,77700,78100,77100,77300,10096725,삼성전자,39406,20.12,1.96,3841,3.87,2994
2022-01-17,77600,77800,76900,77500,8785122,삼성전자,39406,20.18,1.97,3841,3.86,2994
2022-01-18,77600,77800,76600,77000,9592788,삼성전자,39406,20.05,1.95,3841,3.89,2994
2022-01-19,76500,76900,76100,76300,10598290,삼성전자,39406,19.86,1.94,3841,3.92,2994
2022-01-20,76200,76700,75900,76500,9708168,삼성전자,39406,19.92,1.94,3841,3.91,2994
2022-01-21,75800,75800,74700,75600,15774888,삼성전자,39406,19.68,1.92,3841,3.96,2994
2022-01-24,75400,75800,74700,75100,13691134,삼성전자,39406,19.55,1.91,3841,3.99,2994
2022-01-25,74800,75000,73200,74000,17766704,삼성전자,39406,19.27,1.88,3841,4.05,2994
2022-01-26,73900,74400,73100,73300,12976730,삼성전자,39406,19.08,1.86,3841,4.08,2994
2022-01-27,73800,74000,71300,71300,22274777,삼성전자,39406,18.56,1.81,3841,4.20,2994
2022-01-28,71300,73700,71200,73300,21367447,삼성전자,39406,19.08,1.86,3841,4.08,2994
2022-02-03,74900,74900,73300,73300,17744721,삼성전자,39406,19.08,1.86,3841,4.08,2994
2022-02-04,74300,74600,73400,74000,12730034,삼성전자,39406,19.27,1.88,3841,4.05,2994
2022-02-07,73500,73600,72400,73000,14240838,삼성전자,39406,19.01,1.85,3841,4.10,2994
2022-02-08,73800,74200,73000,73500,11736666,삼성전자,39406,19.14,1.87,3841,4.07,2994
2022-02-09,74300,74700,74000,74700,9699122,삼성전자,39406,19.45,1.90,3841,4.01,2994
2022-02-10,75600,75800,74700,75400,17746033,삼성전자,39406,19.63,1.91,3841,3.97,2994
2022-02-11,75000,75500,74600,74900,12205407,삼성전자,39406,19.50,1.90,3841,4.00,2994
2022-02-14,74400,74500,73100,73700,13993255,삼성전자,39406,19.19,1.87,3841,4.06,2994
2022-02-15,74100,74200,73100,73700,9320365,삼성전자,39406,19.19,1.87,3841,4.06,2994
2022-02-16,74600,74900,74200,74800,10767386,삼성전자,39406,19.47,1.90,3841,4.00,2994
2022-02-17,75000,75600,74500,75000,13605382,삼성전자,39406,19.53,1.90,3841,3.99,2994
2022-02-18,74600,74800,73700,74300,10122226,삼성전자,39406,19.34,1.89,3841,4.03,2994
2022-02-21,73200,74300,72600,74200,10489717,삼성전자,39406,19.32,1.88,3841,4.04,2994
2022-02-22,73000,73400,72800,73400,11692469,삼성전자,39406,19.11,1.86,3841,4.08,2994
2022-02-23,73800,73800,72800,73000,10397964,삼성전자,39406,19.01,1.85,3841,4.10,2994
2022-02-24,72300,72300,71300,71500,15759283,삼성전자,39406,18.61,1.81,3841,4.19,2994
2022-02-25,72100,72600,71900,71900,13168484,삼성전자,39406,18.72,1.82,3841,4.16,2994
2022-02-28,71100,72100,71000,72100,17781783,삼성전자,39406,18.77,1.83,3841,4.15,2994
2022-03-02,72300,72400,71500,71700,12481430,삼성전자,39406,18.67,1.82,3841,4.18,2994
2022-03-03,72300,73100,72200,72900,13232638,삼성전자,39406,18.98,1.85,3841,4.11,2994
2022-03-04,72700,72700,71200,71500,13409634,삼성전자,39406,18.61,1.81,3841,4.19,2994
2022-03-07,70000,70600,69900,70100,18617138,삼성전자,39406,18.25,1.78,3841,4.27,2994
2022-03-08,68800,70000,68700,69500,15828269,삼성전자,39406,18.09,1.76,3841,4.31,2994
2022-03-10,70800,71200,70500,71200,21159248,삼성전자,39406,18.54,1.81,3841,4.21,2994
2022-03-11,70500,70700,69700,70000,15787655,삼성전자,39406,18.22,1.78,3841,4.28,2994
2022-03-14,70000,70200,69600,70200,9040993,삼성전자,39406,18.28,1.78,3841,4.26,2994
2022-03-15,69800,70100,69500,69500,10258562,삼성전자,39406,18.09,1.76,3841,4.31,2994
2022-03-16,70200,70500,69700,70400,10175750,삼성전자,39406,18.33,1.79,3841,4.25,2994
2022-03-17,71200,71800,70900,71200,17646315,삼성전자,39406,18.54,1.81,3841,4.21,2994
2022-03-18,70600,70900,70200,70700,14410038,삼성전자,39406,18.41,1.79,3841,4.23,2994
2022-03-21,70900,71000,69900,69900,11169002,삼성전자,39406,18.20,1.77,3841,4.28,2994
2022-03-22,69900,70500,69900,70300,9402666,삼성전자,39406,18.30,1.78,3841,4.26,2994
2022-03-23,70600,71200,70300,70500,12398025,삼성전자,39406,18.35,1.79,3841,4.25,2994
2022-03-24,69600,70300,69600,69800,37943357,삼성전자,39406,18.17,1.77,3841,4.29,2994
2022-03-25,70100,70200,69600,69800,12986010,삼성전자,39406,18.17,1.77,3841,4.29,2994
2022-03-28,69500,69900,69200,69700,12619289,삼성전자,39406,18.15,1.77,3841,4.30,2994
2022-03-29,70000,70300,69800,70200,13686208,삼성전자,39406,18.28,1.78,3841,4.26,2994
2022-03-30,70300,70500,69800,69900,12670187,삼성전자,39406,18.20,1.77,3841,4.28,2994
2022-03-31,69900,70200,69600,69600,12510366,삼성전자,39406,18.12,1.77,3841,4.30,2994
2022-04-01,69500,69500,69000,69100,15852053,삼성전자,39406,17.99,1.75,3841,4.33,2994

In [80]:
df_combined.index

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-02-03', '2022-02-04', '2022-02-07', '2022-02-08',
               '2022-02-09', '2022-02-10', '2022-02-11', '2022-02-14',
               '2022-02-15', '2022-02-16', '2022-02-17', '2022-02-18',
               '2022-02-21', '2022-02-22', '2022-02-23', '2022-02-24',
               '2022-02-25', '2022-02-28', '2022-03-02', '2022-03-03',
               '2022-03-04', '2022-03-07', '2022-03-08', '2022-03-10',
               '2022-03-11', '2022-03-14', '2022-03-15', '2022-03-16',
               '2022-03-17', '2022-03-18', '2022-03-21', '2022-03-22',
               '2022-03-23', '2022-03-24', '2022-03-25', '2022-03-28',
               '2022-03-29', '2022-03-30', '2022-03-31', '2022-04-01'],
              dtype='datetime64[ns]', name='날짜', freq=None)

In [79]:
fig, ax1 = plt.subplots(figsize=(15, 10))
ax1.set_yticks(range(60000, 850001, 10000))
ax1.set_ylim(55000, 90000)
ax1.plot(df_combined['종가'], color='black')

ax2 = ax1.twinx()
ax2.set_yticks(range(1, 6, 1))
ax2.plot(df_combined['PBR'], color='green')

ax3 = ax1.twinx()
ax3.bar(df_combined.index, df_combined['거래량'], df_combined['거래량'])
plt.show()

ValueError: Date ordinal -20849771.35 converts to -55115-04-06T15:35:59.999744 (using epoch 1970-01-01T00:00:00), but Matplotlib dates must be between year 0001 and 9999.